html{
    background-color: grey;
    font-family: Calibri;
}
.workarea{
    background-color: white;
    width: 30%;

}
a:visited, a:link{
    text-decoration: none;
    decoration: none;
    color: black;
}
h3{
    color: black;
}
a:hover{
    text-decoration: underline;
}